html {
  scrollbar-color: #5f4da8 white;
  transition: 2s;
  scroll-padding-top: 88px;
}

body {
  letter-spacing: 0.0625em;
  font-family: Nunito, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji !important;
}

#mainNav {
  min-height: 3.5rem;
  background-color: #fff;
  height: 5.5rem;
  animation: fadeInAnimation ease 2.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#arrow-appear {
  animation: fadeInAnimation ease 2.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  70% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#mainNav .navbar-toggler {
  font-size: 80%;
  color: #5f4da8;
  border: none;
}

#mainNav .navbar-toggler:focus {
  outline: none;
}

#mainNav .navbar-brand {
  color: #000;
  font-weight: 700;
  padding: 0.9rem 0;
}

#mainNav .navbar-nav .nav-item:hover {
  color: fade(#fff, 80%);
  outline: none;
  background-color: transparent;
}

#mainNav .navbar-nav .nav-item:active,
#mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
}

  #mainNav.navbar-shrink {
    background-color: #fff;
    border-bottom: 1px solid #e8e8e8;
  }

@media (min-width: 992px) {
  #mainNav {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
  }

  #mainNav .navbar-brand {
    padding: 0.5rem 0;
    color: rgba(255, 255, 255, 0.5);
  }

  #mainNav .nav-link {
    transition: .6s;
    margin: 2rem 1.5rem;
    color: #000;
  }

  #mainNav .nav-link:hover {
    color: #5f4da8;
  }

  #mainNav .nav-link.active:hover {
    color: #5f4da8;
    border-bottom: 1px solid #5f4da8;
  }

  #mainNav .nav-link.active {
    border-bottom: 1px solid black;
  }

  #mainNav .nav-link:active {
    color: #000;
  }

  #mainNav.navbar-shrink .navbar-brand {
    color: #fff;
  }

  #mainNav.navbar-shrink .nav-link {
    color: #000;
    padding: 0.75rem 0.75rem 0.75rem;
    border-bottom: 0.25rem solid transparent;
  }

  #mainNav.navbar-shrink .nav-link:hover {
    color: #5f4da8;
  }

  #mainNav.navbar-shrink .nav-link:active {
    color: #000;
  }

  #mainNav.navbar-shrink .nav-link.active {
    color: #000;
    outline: none;
    border-bottom: 0.25rem solid #000;
  }

  #mainNav.navbar-shrink .nav-link.active:hover {
    color: #5f4da8;
    outline: none;
    border-bottom: 0.25rem solid #5f4da8;
  }
}

.btn {
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  padding: 1.25rem 2rem;
  font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  border: 0;
}

.masthead {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.masthead h1,
.masthead .h1 {
  font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.8rem;
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.masthead h2,
.masthead .h2 {
  max-width: 20rem;
  font-size: 1rem;
}

@media (min-width: 768px) {

  .masthead h1,
  .masthead .h1 {
    font-size: 4rem;
    line-height: 4rem;
  }
}

@media (min-width: 992px) {
  .masthead {
    height: 100vh;
    padding: 0;
  }

  .masthead h1,
  .masthead .h1 {
    font-size: 6.5rem;
    line-height: 6.5rem;
    letter-spacing: 0.8rem;
  }

  .masthead h2,
  .masthead .h2 {
    max-width: 47rem;
  }
}

.about-section {
  padding: 5rem 0 10rem;
}

.about-section p {
  margin-bottom: 5rem;
}

.projects-section {
  padding: 3rem 0 5rem;
}

.projects-section .featured-text {
  padding: 2rem;
}

@media (min-width: 992px) {
  .projects-section .featured-text {
    padding: 0 0 0 2rem;
    border-left: 0.5rem solid #64a19d;
  }
}

.projects-section .project-text {
  padding: 3rem;
  font-size: 90%;
}

@media (min-width: 992px) {
  .projects-section .project-text {
    padding: 5rem;
  }
}

.contact-section {
  padding-top: 5rem;
}

.contact-section .card {
  border: 0;
  border-bottom: 0.25rem solid #64a19d;
}

.contact-section .card h4,
.contact-section .card .h4 {
  font-size: 0.8rem;
  font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}

.contact-section .card hr {
  opacity: 1;
  border-color: #64a19d;
  border-width: 0.25rem;
  width: 3rem;
}

.contact-section .social {
  margin-top: 5rem;
}

.contact-section .social a {
  text-align: center;
  height: 3rem;
  width: 3rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  line-height: 3rem;
  color: rgba(255, 255, 255, 0.3);
}

.contact-section .social a:hover {
  color: rgba(255, 255, 255, 0.5);
}

.contact-section .social a:active {
  color: #fff;
}

.footer {
  padding: 5rem 0;
}

#main_image {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  opacity: 1;
  animation: fade 1.2s;
  -webkit-animation: fade 1.2s;

}

#description {
  opacity: 1;
  animation: fadeDescription 2.5s;
  -webkit-animation: fadeDescription 2.5s;
  font-size: 1.6em
}

#socials {
  font-size: 25px;
}

#socials>a {
  color: black;
  padding-right: 20px;
}

#socials>a:hover {
  color: #5F4DA8;
}

#footer-nav>p>a {
  color: black;
  text-decoration: none;
}

#footer-nav>p>a:hover {
  color: #5f4da8;
  text-decoration: underline;
}

#mail {
  color: black;
  text-decoration: none;
}

#mail:hover {
  color: #5f4da8;
  text-decoration: underline;
}

a {
  text-decoration: none;
}

.card-horizontal-right {
  padding: 20px;
  border-radius: 20px;
  color: white;
  background: linear-gradient(90deg, rgba(95, 77, 168, 1) 0%, rgba(76, 74, 181, 1) 45%, rgba(50, 70, 200, 1) 85%, rgba(34, 123, 182, 1) 100%);
  ;
}

.card-horizontal-left {
  padding: 20px;
  border-radius: 20px;
  color: white;
  background: linear-gradient(90deg, rgba(34, 123, 182, 1) 0%, rgba(50, 70, 200, 1) 15%, rgba(76, 74, 181, 1) 55%, rgba(95, 77, 168, 1) 100%);
}

@keyframes changeGradient {
  0% {
    background: linear-gradient(135deg, rgba(95, 77, 168, 1) 0%, rgba(76, 74, 181, 1) 25%, rgba(50, 70, 200, 1) 50%, rgba(34, 123, 182, 1) 100%);
  }

  100% {
    background: linear-gradient(135deg, rgba(34, 123, 182, 1) 0%, rgba(50, 70, 200, 1) 25%, rgba(76, 74, 181, 1) 50%, rgba(95, 77, 168, 1) 100%);
  }
}

@keyframes animatedBackground {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.about-section {
background: #2980b9 url('../images/bg.png') repeat 0 0;
	-webkit-animation: 15s linear 0s normal none infinite animate;
	-moz-animation: 15s linear 0s normal none infinite animate;
	-ms-animation: 15s linear 0s normal none infinite animate;
	-o-animation: 15s linear 0s normal none infinite animate;
	animation: 15s linear 0s normal none infinite animate;
}

@-webkit-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}

@-moz-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}

@-ms-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}

@-o-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}

@keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    12.5% {
        background-position: 25% 50%;
    }
    25% {
        background-position: 50% 50%;
    }
    37.5% {
        background-position: 75% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    62.5% {
        background-position: 75% 50%;
    }
    75% {
        background-position: 50% 50%;
    }
    87.5% {
        background-position: 25% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    /*-webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);*/
    -webkit-transform: translate3d(-50px, 0, 0);
    transform: translate3d(-50px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    /*-webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);*/
    -webkit-transform: translate3d(-50px, 0, 0);
    transform: translate3d(-50px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInLeft {
  -webkit-animation: fadeInLeft 1.5s;
  animation: fadeInLeft 1.5s;
}

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    /*-webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);*/
    -webkit-transform: translate3d(50px, 0, 0);
    transform: translate3d(50px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    /*-webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);*/
    -webkit-transform: translate3d(50px, 0, 0);
    transform: translate3d(50px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInRight {
  -webkit-animation: fadeInRight 1.5s;
  animation: fadeInRight 1.5s;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    visibility: hidden;
    /*-webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);*/
    -webkit-transform: translate3d(0, 40px, 0);
    transform: translate3d(0, 40px, 0);
  }

  to {
    opacity: 1;
    /*visibility: visible;*/
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    visibility: hidden;
    /*-webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);*/
    -webkit-transform: translate3d(0, 40px, 0);
    transform: translate3d(0, 40px, 0);
  }

  to {
    visibility: visible;
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation: fadeInUp 1.5s;
  animation: fadeInUp 1.5s;
}

@media screen and (max-width: 630px) {
  #main_image {
    width: 100vw;
  }
}

@media screen and (max-width: 1000px) {
  #socials {
    justify-content: space-evenly;
  }
}

footer {
  border-top: 0.3px solid grey;
}
.card	 {
	-webkit-box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.75) !important;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.about-section .card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.about-section p {
  color: #495057;
}
