* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

html {
    scrollbar-color: #5f4da8 lightgray;
}

body {
    height: 150vh;
}

.wrapper {
    display: flex;
    justify-content: center;

    height: 100vh;
    box-shadow: 0 4px 2px -2px gray;
    position: relative;
}

/* nav {
    position: fixed;
} */

@-webkit-keyframes fade {
    0% {
        opacity: 0;
        transform: translateY(70px);
    }
    
    10% {
        opacity: 0.0;
    }
    
    90% {
        opacity: 1;
    }
    
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@-webkit-keyframes fadeDescription {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    
    10% {
        opacity: 0.0;
    }

    50% {
        opacity: 0.0;
    }
    
    90% {
        opacity: 0.9;
    }
    
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

#main_img {
    opacity: 0;
    animation: fade 1.2s;
    -webkit-animation: fade 1.2s;
    transform: translateY(70px);
    -webkit-animation-fill-mode: both;
}

.description {
    opacity: 0;
    animation: fadeDescription 2.5s;
    -webkit-animation: fadeDescription 2.5s;
    transform: translateY(100px);
    -webkit-animation-fill-mode: both;
}

.content {
    font-family: montserrat;
    text-align: center;
    margin-top: 28vh;
}

.content h2 {
    text-transform: uppercase;
    font-size: 80px;
}

.content p {
    font-size: 35px;
}

#github {
    position: absolute;
    top: 18px;
    right: 25px;
    height: 48px;
}

.nav {
    position: absolute;
    top: 30px;
    left: 25px;
}

.nav ul {
    display: flex;
    margin: auto;
    justify-content: space-between;
    width: 350px;
}

.nav li {
    display: inline-block;
    font-size: 20px;
    color: #5f4da8;
}

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}